<% comments.each do |comment| %>
  <div class="mb-2 ml-2">
    <% if policy(comment).destroy? %>
      <%= link_to "del", comment_path(comment), method: :delete, data: { confirm: "Are you sure? \nYou want to delete this comment?" }, remote: true, class: "btn btn-danger text-white btn-sm" %>
    <% end %>
    <% if policy(comment).edit? && policy(comment).update? %>
      <%= link_to "edit", edit_comment_path(comment), class: "btn btn-dark text-white btn-sm" %>
    <% end %> -->
    <span>
      <%= link_to comment.user.name, user_path(comment.user), class: "font-weight-bold text-primary"%>:
      <%= comment.body %>
    </span>
  </div>
<% end %>
