<div class = "create-post">
  <h4>Create Story</h4>
  <%= render 'create_story' %>
</div>

<div class="posts-homepage">
  <h1>All Stories</h1>
    <%= pagy_bootstrap_nav(@s_pagy).html_safe if @s_pagy.pages > 1 %>
    <%= render @stories %>
    <%= pagy_bootstrap_nav(@s_pagy).html_safe if @s_pagy.pages > 1 %>
</div>
