<div class = "create-post">
  <h4>Create Story</h4>
  <%= render 'create_story' %>
</div>

<div class="posts-homepage">
  <h1>All Stories</h1>
  <% Story.find_each do |story| %>
    <%= render 'story', story: story %>
  <% end %>
</div>
