<div>
  <%= form_for [Post.new], :html => {:multipart => true} do |f| %>
    <%= f.text_field :caption, class: "form-control", placeholder: "What's on your mind?", required: true %><br>
    <%= file_field_tag "photos_list[]", class: "form-control", type: :file, multiple: true, required: true %><br>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
