<div class = "create-post">
  <h4>Update Post</h4>
  <div>
    <%= form_for @post, :html => {:multipart => true} do |f| %>
      <%= f.text_field :caption, class: "form-control", placeholder: "What's on your mind?", required: true %><br>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
