<div class = "create-post">
  <h4>Create Post</h4>
  <%= render 'create_post' %>
</div>
<div class="posts-homepage">
  <h1>All Posts</h1>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
  <%= render @posts %>
</div>
<hr>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
