<div class = "create-post">
  <h4>Create Post</h4>
  <%= render 'create_post' %>
</div>
<div class="posts-homepage">
  <h1>All Posts</h1>

  <% Post.find_each do |post| %>
    <%= render 'post', post: post %>
  <% end %>

</div>
<hr>
