<div class = "create-post">
  <h4><%= link_to "Create New Post", new_post_path %></h4>
</div>
<div class="posts-homepage">
  <h1>All Posts</h1>
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
  <%= render @posts %>
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
