<div class = "create-post">
  <h4>Create Post</h4>
  <%= render 'create_post' %>
</div>
<div class="posts-homepage">
  <h1>All Posts</h1>

  <% Post.includes(:photos, :user, :likes, :comments).find_in_batches(batch_size: 5) do |posts| %>
    <%= render posts %>
  <% end %>

</div>
<hr>
