<div class = "create-post">
  <h4><%= link_to "Create New Post", new_post_path %></h4>
</div>
<div class="posts-homepage">
  <h1>All Posts</h1>
  <% posts().find_in_batches(batch_size: 5) do |posts| %>
    <%= render posts %>
  <% end %>
</div>
