<div class="center-this-div not-found">
  <h1>Something went wrong </h1>
  <ul>
    <% @error.each do |m| %>
      <li> <%= m %> </li>
    <% end %>
  </ul>
</div>

<%= link_to "Back to home", root_path %>
