@import "bootstrap";
@import "toastr";
@import url(posts.scss);
@import url(users.scss);

.center-this-div {
  border: 5px solid;
  padding: 20px;
  margin: 50px 300px 0px 300px;
  text-align: center;
}
