@import "bootstrap";
@import "toastr";
@import url(posts.scss);
@import url(users.scss);

.center-this-div {
  border: 5px solid;
  padding: 20px;
  margin: 5% 0% 0% 25%;
  text-align: center;
  width: 50%;
}

.not-found {
  color: red;
}
